NODE_ENV=development
APP_HOST=0.0.0.0
APP_PORT=3000
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=wagering
DATABASE_USER=wagering
DATABASE_PASSWORD=wagering
DATABASE_SSL=false
DATABASE_LOCK_TIMEOUT_MS=5000
DATABASE_STATEMENT_TIMEOUT_MS=30000
DATABASE_TRANSACTION_MAX_ATTEMPTS=3
DATABASE_TRANSACTION_RETRY_BASE_DELAY_MS=25
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://127.0.0.1:4566
SQS_COMMAND_QUEUE_URL=http://127.0.0.1:4566/000000000000/wager-transactions.fifo
SQS_COMMAND_DLQ_URL=http://127.0.0.1:4566/000000000000/wager-transactions-dlq.fifo
SQS_EVENT_QUEUE_URL=http://127.0.0.1:4566/000000000000/wager-integration-events.fifo
SQS_CONSUMER_ENABLED=true
OUTBOX_PUBLISHER_ENABLED=true
OUTBOX_PUBLISHER_BATCH_SIZE=25
OUTBOX_PUBLISHER_LEASE_DURATION_MS=30000
OUTBOX_PUBLISHER_POLL_INTERVAL_MS=1000
OUTBOX_PUBLISHER_SHUTDOWN_GRACE_PERIOD_MS=10000
OUTBOX_PUBLISHER_MAX_ATTEMPTS=10
SQS_CONSUMER_NAME=wager-command-consumer
SQS_POLL_WAIT_TIME_SECONDS=20
SQS_VISIBILITY_TIMEOUT_SECONDS=30
SQS_MAX_NUMBER_OF_MESSAGES=10
SQS_SHUTDOWN_GRACE_PERIOD_MS=10000
SQS_QUEUE_METRICS_INTERVAL_MS=15000
SQS_QUEUE_METRICS_TIMEOUT_MS=2000
HEALTH_READINESS_TIMEOUT_MS=2000
